<div class="page-header">
    <div class="row">
        <div class="col-sm-3">
            <a href="#/"><img class="img-responsive" src="images/logga_roar.png" class="img-thumbnail"
                              alt="RObot based Autonomous Refuse handling" width="114"></a>
            <!--<a href="#/"><h2>VirtCom</h2></a>-->
        </div>
        <div class="col-sm-9">
            <ul class="pagination">
                <li><a href="#/operations">operations</a></li>
                <li><a href="#/variables">variables</a></li>
                <li><a href="#/transitions">transitions</a></li>
            </ul>
        </div>
    </div>
</div>